
<br>
<br>
<div class="products">

    <div class="title ms-5">

        <p class="">Popular Items</p>

        <div class="popular-shadow">

            <div class="popular-shadow2">

            </div>


        </div>

    </div>






    <div class="cards">

    

    <div class="product-card" *ngFor="let product of products">



        <div class="image-container">

            
           


                <img [src]="product.image" alt="product-image" class="product-image">

                <div class="image-hover">

                    <p>{{product.rating.count}} reviews</p>

                </div>

               



        </div>


        <div class="product-name ms-2 mt-2">

          {{product.title}}

        </div>

        <div class="rating ms-2"> <p class="d-inline" *ngFor="let item of [1,2,3,4,5]">
            <i class="fa-solid fa-star rate-icon "  *ngIf="product.rating.rate>=item " ></i>
            <i class="fa-solid fa-star-half-stroke rate-icon " *ngIf="product.rating.rate<item && ((1-(item-product.rating.rate)>=0.5)&&(1-(item-product.rating.rate)<1))"></i>
            <i class="fa-regular fa-star rate-icon " *ngIf="product.rating.rate<item && ((1-(item-product.rating.rate)<.5)||(item-product.rating.rate>1))"></i>
        </p> </div>



        <div class="product-price ms-2 mt-2">


            {{"$"+product.price}}

             </div>



            <div>
                <button class="icon-btn">
                    <i class="fa fa-shopping-bag"></i>
                  </button>
            </div>




    </div>



    </div>




</div>