

<div class="overlay create-account-overlay" [ngClass]="{'hidden': !(login_service.isCreateAccountClicked| async)}" 
(click)="login_service.closeCreateAccount()">
    <div class="form-box" (click)="$event.stopPropagation()">
      <h2>Create Account</h2>
  
      <form [formGroup]="userForm">



        
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>


        <div class="form-group">

        <input type="text" name="firstName" placeholder="First Name" required formControlName="firstName" >


        
        <div *ngIf="userForm.get('firstName')?.errors && userForm.get('firstName')?.touched" class="validation-message">

          <div *ngIf="userForm.get('firstName')?.getError('required')">
            <p class="input-validation">firstname is required</p>
          </div>
        
          <div *ngIf="userForm.get('firstName')?.getError('minlength')">
            <p class="input-validation">firstname must be at least 3 characters</p>
          </div>
        
          <div *ngIf="userForm.get('firstName')?.getError('maxlength')">
            <p class="input-validation">firstname must not exceed 30 characters</p>
          </div>
        
        </div>

      </div>
        








<div class="form-group">
        <input type="text" name="lastName"  placeholder="Last Name" required formControlName="lastName" >
        
         
        <div *ngIf="userForm.get('lastName')?.errors && userForm.get('lastName')?.touched" class="validation-message">

          <div *ngIf="userForm.get('lastName')?.getError('required')">
            <p class="input-validation">lastname is required</p>
          </div>
        
          <div *ngIf="userForm.get('lastName')?.getError('minlength')">
            <p class="input-validation">lastname must be at least 3 characters</p>
          </div>
        
          <div *ngIf="userForm.get('lastName')?.getError('maxlength')">
            <p class="input-validation">lastname must not exceed 30 characters</p>
          </div>
        
        </div>







      </div>









       <div class="form-group">

        <input type="tel" name="phone" placeholder="Phone Number" required formControlName="phone" >



           
        <div *ngIf="userForm.get('phone')?.errors && userForm.get('phone')?.touched" class="validation-message">

          <div *ngIf="userForm.get('phone')?.getError('required')">
            <p class="input-validation">phone is required</p>
          </div>
        
          <div *ngIf="userForm.get('phone')?.getError('pattern')">
            <p class="input-validation">phone is invalid</p>
          </div>
        
        
        </div>




      </div>



         

<div class="form-group">
        <input type="email" name="email"  placeholder="Email" required formControlName="email" >


        <div *ngIf="userForm.get('email')?.errors && userForm.get('email')?.touched" class="validation-message">

          <div *ngIf="userForm.get('email')?.getError('required')">
            <p class="input-validation">email is required</p>
          </div>
        
          <div *ngIf="userForm.get('email')?.getError('email')">
            <p class="input-validation">email is invalid</p>
          </div>
        
        
        </div>







      </div>






        <div class="form-group">
        <input type="text" name="gender"  placeholder="gender" required formControlName="gender" >



        <div *ngIf="userForm.get('gender')?.errors && userForm.get('gender')?.touched" class="validation-message">

          <div *ngIf="userForm.get('gender')?.getError('required')">
            <p class="input-validation">gender is required</p>
          </div>
        
          <div *ngIf="userForm.get('gender')?.getError('pattern')">
            <p class="input-validation">gender must be male or female</p>
          </div>
        
        
        </div>




      </div>
       






      <div class="form-group">

        <input type="password" name="password"  placeholder="Password" required formControlName="password" >


        <div *ngIf="userForm.get('password')?.errors && userForm.get('password')?.touched" class="validation-message">

          <div *ngIf="userForm.get('password')?.getError('required')">
            <p class="input-validation">password is required</p>
          </div>
        
          <div *ngIf="userForm.get('password')?.getError('pattern')">
            <p class="input-validation">password is invalid</p>
          </div>
        
        
        </div>




      </div>



        
         
        <div class="form-group">

        <input type="password" name="confirmPassword"  placeholder="Confirm Password" required formControlName="rePassword" >

        <div *ngIf="userForm.get('rePassword')?.errors && userForm.get('rePassword')?.touched" class="validation-message">

          <div *ngIf="userForm.get('rePassword')?.getError('required')">
            <p class="input-validation">repassword is required</p>
          </div>
        
          <div *ngIf="userForm.get('rePassword')?.getError('pattern')">
            <p class="input-validation">repassword is invalid</p>
          </div>

          
          
        
        
        </div>



      </div>
  
        <p class="login-text">
          Already have an account? <a (click)="login_service.openLogin()">Login</a>
        </p>
  
        <button type="submit" [disabled]="button_disabled" (click)="addUser()">Create Account</button>
      </form>
    </div>
  </div>
  