

<div class="footer">


    <div class="links">

       
        <ul>
        <div class="list-footer">
           <div class="d-inline"><li>About US</li></div>
           <div class="d-inline"><li>Store Location</li></div>
           <div class="d-inline"> <li>Contact</li></div>
            <div class="d-inline"><li>Delivery</li></div>
           <div class="d-inline"> <li>Policy</li></div>
           <div class="d-inline"><li>Fags</li></div> 
        </div>
        </ul>
    

    </div>


    <div class="footer-title">

        <p class="footer-title1">Get <span class="footer-title1-special">20% </span>Off Discount Coupon<br><span class="footer-title2">By Subscribe Our Newsletter</span></p>
        <br>

      

    </div>


    <div class="input-flex">


        <div class="subscribe-email">
    
    <div class="email-input d-inline">
        <input type="email" placeholder="  Enter Your Email..." class="my-input">
    </div>

    <div class="subscribe-button d-inline">
    
        <button class="my-button" type="button">Subscribe -></button>

    </div>


        </div>

    </div>


</div>