

<div  class="gallery">

<p class="our-gallery text-center">OUR GALLERY</p>

<div class="gallery-title">
<p class="our-gallery2 text-center">Let's Check Our Photo Gallery</p>


<div class="popular-shadow">

    <div class="popular-shadow2">

    </div>


</div>


</div>
<br>
<div class="gallery-part1">


    <div>
        <img src="gallery1.png" alt="image1" class="my-image">
    </div>

    <div>
        <img src="gallery2.png" alt="image2" class="my-image">
    </div>

    <div>
        <img src="gallery3.jpg" alt="image3" class="my-image">
    </div>



</div>

<br>
<br>

<div class="gallery-part2">

    <div class="">
        <img src="gallery5.png" alt="image1" class="my-image2">
    </div>

    <div>
        <img src="gallery4.png" alt="image1" class="my-image">
    </div>




</div>



</div>