

<div class="home">


    <div class="categories">

        <div class="category" *ngFor="let category of categories">

            <div class="category-icon">

                <div>
                <img [src]="category.categoryImage" alt="my-icon"/>
                 </div>


            </div>
            <div class="category-title">

                <p>
                    <span [innerHTML]="category.categoryName"></span>
                    <br>
                    <span>{{ category.categoryItemsNumber }} Items</span>
                  </p>
                  

            </div>



        </div>


    </div>


<!--...........................main background-->



<div class="main-background  pt-3">


    <div class="container">

        <div class="row gap-3">

            <div class="background1 col-lg-4 col-md-4 col-sm-12 rounded-4">

                <div>

                <p>
                    <span>START $10.99</span><br><br>
                    <span>Special Gifts Box<br>
                        For Your Love</span>
                        <br>
                    <span><button class="btn-shop rounded-4 mt-3">Shop Now -></button></span>
                </p>
            </div>

                

            </div>

            
            

            <div class="col-lg-8 col-md-6 col-sm-12 ">

               
           


            <!---.............carousel................-->


            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active my-color" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="my-color" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="my-color" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner rounded-4 rounded-sm-4 my-carousel">
                  <div class="carousel-item active ">

                    <div class="background2">

                    <div>

                        <p>
    
                            <span>BEST GIFT SHOP</span><br>
                            <span>Choose Perfect<br>
                                <span class="c-gifts">Gifts</span> From Us</span><br>
                            <span>Culpa ducimus nesciunt aliquam non rerum<br> esse recusandae omnis. Rerum optio dolores<br> et.</span><br>
                            <span><button class="btn-shop rounded-4 mt-3 m-button">Shop Now -></button></span>
    
    
                        </p>
    
    
                    </div>
                    </div>

                    
                  </div>
                  <div class="carousel-item">
                   


                    <div class="background2 slider2">

                        <div>
    
                            <p>
        
                                <span>BEST GIFT SHOP</span><br>
                                <span>Choose Perfect<br>
                                    <span class="c-gifts">Gifts</span> From Us</span><br>
                                <span>Culpa ducimus nesciunt aliquam non rerum<br> esse recusandae omnis. Rerum optio dolores<br> et.</span><br>
                                <span class="m-button"><button class="btn-shop rounded-4 mt-3 m-button">Shop Now -></button></span>
        
        
                            </p>
        
        
                        </div>
                        </div>




                  </div>
                  <div class="carousel-item">
                   

                    <div class="background2 slider3">

                        <div>
    
                            <p>
        
                                <span>BEST GIFT SHOP</span><br>
                                <span>Choose Perfect<br>
                                    <span class="c-gifts">Gifts</span> From Us</span><br>
                                <span>Culpa ducimus nesciunt aliquam non rerum<br> esse recusandae omnis. Rerum optio dolores<br> et.</span><br>
                                <span><button class="btn-shop rounded-4 mt-3 m-button">Shop Now -></button></span>
        
        
                            </p>
        
        
                        </div>
                        </div>



                  </div>
                </div>

                <div class="slider-buttons">
                
                <button class="carousel-control-prev btn1" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
               <div class="prev-btn">
                  <span class="carousel-control-prev-icon w-50 h-50 mt-2" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </div>
                </button>
               

                
                <button class="carousel-control-next btn2" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                
                    <div class="next-btn">
                  <span class="carousel-control-next-icon w-50 h-50 mt-2" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </div>
                </button>
                
            </div>
              </div>





        
            <!--............................................-->


            </div>

        </div>
        </div>


    </div>


    <div class="second-backgrounds">


        <div class="first-bg rounded-4">

            <div>
            <p class="">

                <span class="">Gifts Box</span><br>
                <span class="">Awesome Gifts Box<br>Collections</span><br><br>
                <span class="ps-5"><button type="button">Shop Now</button></span>


            </p>

        </div>



        </div>

        <div class="second-bg rounded-4">

            <div>
            <p>

                <span>Occasion Gifts</span><br>
                <span class="">Best Occasion Gifts<br>Collections</span><br><br>
                <span class="ps-5"><button type="button">Discover Now</button></span>


            </p>

        </div>



        </div>


        <div class="third-bg rounded-4">

            <div>
            <p>

                <span>Occasion Gifts</span><br>
                <span class="">Combo Sets Gift Box<br>Up To 50% Off</span><br><br>
                <span class="ps-5"><button type="button">Discover Now</button></span>


            </p>

        </div>



        </div>






    </div>

    <br>
    <br>

<div class="all-features">
    <div class="features">


        <div class="my-features">

            <div>
            
            <div class="feature-icon">

                <img src="Icon.png" alt="my-icon" />

            </div>
        </div>
            <div class="feature-title">

                <p>Free Delivery</p>
                <p class="pb-5">Orders Over $120</p>

            </div>
        </div>

        <div class="my-features">
            
            <div class="feature-icon">

                <img src="Icon (1).png" alt="my-icon" />

            </div>
            <div class="feature-title">

                <p>Get Refund</p>
                <p class="pb-5">Within 30 Days Returns</p>

            </div>
        </div>

        <div class="my-features">
            
            <div class="feature-icon">

                <img src="Icon (2).png" alt="my-icon" />

            </div>
            <div class="feature-title">

                <p>Safe Payment</p>
                <p class="pb-5">100% Secure Payment</p>

            </div>
        </div>

        <div class="my-features">
            
            <div class="feature-icon">

                <img src="Icon (3).png" alt="my-icon" />
            </div>
            <div class="feature-title">

                <p>24/7 Support</p>
                <p class="pb-5">Feel Free To Call Us</p>

            </div>
        </div>

    




    </div>

</div>



<app-product-slider></app-product-slider>

<app-products></app-products>

<app-about-us></app-about-us>

<app-gallery></app-gallery>

<app-feedbacks></app-feedbacks>

<app-companies></app-companies>

</div>





