
<div class="main-companies">




    <div class="companies">
      <p class="text-center">
        Trusted by over <span>4.5k+ </span> companies
      </p>




      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide [id]="slide.id">
            <img [src]="slide.src" alt="my-slide" class="my-company">
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>




     
  
    </div>
</div>
  
  