

<div class="about-us">


    <div class="my-about-us">


        <div class="about-us-image">


            <img src="aboutUs.png" alt="my-image" class="my-image" />


        </div>


        <div class="about-us-text">


            <p class="about-us-text1">ABOUT US</p>


            <p class="about-us-text2">We Provide Best And Quality<span> Gifts<br>Box</span> Product For You</p>


            <p class="about-us-text3">Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta necessitatibus ut ad.</p>

            <br>

           <button type="button">Discover More -></button>

           <br>
           <br>


           <div class="features">
            <div class="feature">
              <span class="icon">✓</span>
              <span class="text">Streamlined Shipping Experience</span>
            </div>
            <div class="feature">
              <span class="icon">✓</span>
              <span class="text">Affordable Modern Design</span>
            </div>
            <div class="feature">
              <span class="icon">✓</span>
              <span class="text">Competitive Price & Easy To Shop</span>
            </div>
            <div class="feature">
              <span class="icon">✓</span>
              <span class="text">We Made Awesome Products</span>
            </div>
          </div>
          







        </div>




        <div>



        </div>



    </div>



</div>