

<div class="sliding-product">

<div class="carousel-text">


<p>Premium Gifts</p>


<p>Pest <span>Seller</span> <br>
   <span>Gifts </span>and Products</p>


<p>Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta necessitatibus ut ad.</p>



<button type="button">Explore More -></button>



</div>


<div class="my-carousel">

    
<div class="prev-button">

    <button class="my-prev-button" (click)="carousel.navBackward($event)" >❮</button>

</div>
   
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false"  [value]="products"
    #carousel
    [numVisible]="3" 
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions" [showNavigators]="false">
        <ng-template pTemplate="item" let-product>
            <div class="border border-surface rounded-border m-2 p-4 my-slider">
                <div class="mb-4">
                    <div class="relative mx-auto my-image">
                        <img [src]="product.image" [alt]="product.title" class="w-full rounded-border my-image2" />
                      
                    </div>
                </div>

                
                
                <div class="mb-4 font-medium product-title">{{ product.title}}</div>

                <div class="my-position">

                <div class="rating"> <p class="d-inline" *ngFor="let item of [1,2,3,4,5]">
                    <i class="fa-solid fa-star rate-icon "  *ngIf="product.rating.rate>=item " ></i>
                    <i class="fa-solid fa-star-half-stroke rate-icon " *ngIf="product.rating.rate<item && ((1-(item-product.rating.rate)>=0.5)&&(1-(item-product.rating.rate)<1))"></i>
                    <i class="fa-regular fa-star rate-icon " *ngIf="product.rating.rate<item && ((1-(item-product.rating.rate)<.5)||(item-product.rating.rate>1))"></i>
                </p> </div>


                <div class="flex justify-between items-center">
                    <div class="mt-0 font-semibold text-xl product-price">{{ '$' + product.price }}</div>
                </div>
                    <span>

                        
                        <button class="icon-btn">
                            <i class="fa fa-shopping-bag"></i>
                          </button>
                        
                        
                    </span>
                </div>
            </div>
        </ng-template>
    </p-carousel>


    <div class="next-button">

        <button class="my-next-button" (click)="carousel.navForward($event)">❯</button>
    
    </div>



</div>



</div>