

.feedbacks{


    margin-top: 60px;

    width: 100%;
    height: 450px;

    background-image: url(./../../../../public/Birthday\ background.png);

    position: relative;
    

}


.feedback{


    width: 302px;

    height: 344px;

    border-radius: 60px;

    background-color: white;



}

.my-image{


    width: 60px;
    height: 60px;
    border-radius:30px;
    background-color: red;
    display: inline;

}

.username{


    font-size: 17px;
    font-weight: 700;
    color: #160E4B;
    display:inline;
    margin-left: 20px;


   

}

.user-data{


margin-left: 30px;
padding-top: 20px;


}


.comment{

    font-size: 14px;
    font-weight: 400;
    color: #757F95;

    
}

.truncate-multiline {
    display: -webkit-box;            /* Creates a flexible box */
    -webkit-box-orient: vertical;    /* Vertical text flow */
    -webkit-line-clamp: 8;           /* Number of lines to show */
    overflow: hidden;                /* Hide overflow */
    text-overflow: ellipsis;         /* Show "..." */
  }
  

  .bb{


    border-color: transparent !important;
    position: relative;
  
  }

  .my-flex{

    height: 450px;

    display: flex;
     align-items: center;
     justify-content:center;


  }



  .my-prev-button{


    width:38px;
    height:38px;
    background-color:#F82BA9;
    border-radius:19px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color: transparent;
  

  }

  .prev-button{

    
    position: absolute;

    left: 2%;

    top: 50%;
  
    z-index: 1000;

    transform: translateY(-50%);



  }

  .next-button{

    position: absolute;

    right: 2%;
    bottom: 40%;

    transform: translateY(-50%);

  }

  .my-next-button{

    width:38px;
    height:38px;
    background-color:#F82BA9;
    border-radius:19px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color: transparent;
  }


  

 
  .feedback-icon{


    position: absolute;

    right: 5%;

    bottom: 10%;


  }

  
  .feedback2-icon{


    position: absolute;

    left: 6%;

    bottom: 14%;


  }